{% extends '../layout.twig' %}

{% block main %}
	<section class="main__promo promo">
		<h1 class="visually-hidden">Игра Стрелы Амура.</h1>
		<div class="promo__label">самый популярный</div>
	</section>
	<section class="main__info info">
		<h2>Стрелы Амура, 18+</h2>
		<ul class="info__list">
			<li>
				<a href="#!">квест</a>
			</li>
			<li>
				<a href="#!">для 2 человек</a>
			</li>
			<li>
				<a href="#!">для дома</a>
			</li>
			<li>
				<a href="#!">сложность 7/10</a>
			</li>
		</ul>
		<p class="info__text">
			Романтический квест по поиску подарка для второй половинки:
			мужа, жены, парня или девушки. Чтобы собрать 7 стрел бога любви Амура и разыскать подарок,
			игроку нужно выполнить задания древних богов
		</p>
	</section>
	<section class="main__reviews reviews">
		<h2 class="reviews__title">Отзывы клиентов</h2>
		<span class="reviews__counter">1/182</span>
		<ul class="reviews__list">
			<li class="reviews__item">
				<p class="reviews__date">
					14 февраля 2024
				</p>
				<p class="reviews__gamers">Константин (12 игроков 36-50 лет)</p>
				<p class="reviews__raiting"></p>
				<h3 class="reviews__event">День святого Валентина</h3>
				<p class="reviews__text">
					Понравилось, что вопросы хоть и объединены одной темой, были не похожи друг на друга.
					Разные страны и эпохи — есть где разгуляться фантазии. И если сначала мы пытались
					искать правильные ответы, то по ходу игры стало интереснее и смешнее запутать других игроков.
				</p>
			</li>
			<li class="reviews__item">
				<p class="reviews__date">
					14 февраля 2024
				</p>
				<p class="reviews__gamers">Светлана (2 игрока 36 лет)</p>
				<p class="reviews__raiting"></p>
				<h3 class="reviews__event">День Рождения</h3>
				<p class="reviews__text">
					Понравилось, что вопросы хоть и объединены одной темой, были не похожи друг на друга.
					Разные страны и эпохи — есть где разгуляться фантазии. И если сначала мы пытались
					искать правильные ответы, то по ходу игры стало интереснее и смешнее запутать других игроков.
				</p>
			</li>
			<li class="reviews__item">
				<p class="reviews__date">
					14 февраля 2024
				</p>
				<p class="reviews__gamers">Светлана (2 игрока 36 лет)</p>
				<p class="reviews__raiting"></p>
				<h3 class="reviews__event">День Рождения</h3>
				<p class="reviews__text">
					Понравилось, что вопросы хоть и объединены одной темой, были не похожи друг на друга.
					Разные страны и эпохи — есть где разгуляться фантазии. И если сначала мы пытались искать
					правильные ответы, то по ходу игры стало интереснее и смешнее запутать других игроков.
				</p>
			</li>
		</ul>
	</section>

{% endblock %}
