.breadcrumbs__list {
  display: none;

  @media (min-width: 1440px) {
    display: flex;
    margin: 0;
    margin-top: 20px;
  margin-bottom: 30px;
    padding: 0;
    list-style: none;
  }
}

.breadcrumbs__item {
  &:first-child a {
    padding-left: 0;
  }

  &:last-child a::after {
    display: none;
  }
}

.breadcrumbs__link {
  position: relative;
  padding: 0 17px;
  font-size: 14px;
  line-height: 130%;
  color: #424242;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -8px;
    width: 14px;
    height: 18px;
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
  }
}
