.order {
  @media (min-width: 1440px) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    height: 227px;
    padding: 21px 23px 10px;
    background-color: #ffffff;
    border-radius: 8px;
  }
}

.order__content {
  display: none;

  @media (min-width: 1440px) {
    display: block;
  }
}

.order__text {
  @media (min-width: 1440px) {
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 130%;
    text-align: center;
    color: rgba(#383838, 80%);
  }
}

.order__list {
  @media (min-width: 1440px) {
    display: flex;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
  }
}

.order__item {
  @media (min-width: 1440px) {
    padding-right: 18px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.order__buy-another {
  @media (min-width: 1440px) {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #383838;
  }
}

.order__link {
  @media (min-width: 1440px) {
    display: block;
    width: 110px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
    font-size: 16px;
    line-height: 120%;
    color: #dd4e00;
  }
}

.order__btn-wrap {
  padding: 10px 12px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 -2px 3px 0 rgba(#000000, 0.15);

  @media (min-width: 1440px) {
    display: contents;
  }
}

.order__btn-buy {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;

  @media (min-width: 1440px) {
    width: 219px;
  }
}
