.promo {
  height: 300px;
  background-image: url("/img/promo-game.png");
}

.promo__label {
  width: 118px;
  height: 15px;
  font-size: 10px;
  line-height: 110%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
