.reviews {
  padding-top: 24px;

  @media (min-width: 1440px) {
    grid-column: span 2;
    padding-top: 30px;
  }
}

.reviews__title {
  margin: 0 29px;
  margin-bottom: 3px;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  color: #424242;

  & .desktop {
    display: none;
  }

  @media (min-width: 1440px) {
    margin: 0;
    margin-bottom: 24px;
    font-size: 28px;

    & .desktop {
      display: block;
    }
  }
}

.reviews__counter {
  margin: 0 30px;
  font-size: 13px;
  line-height: 130%;
  color: #424242;

  @media (min-width: 1440px) {
    display: none;
  }
}

.reviews__list {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  list-style: none;

  @media (min-width: 1440px) {
    width: 773px;
    margin-left: 0;
    gap: 24px;
    overflow-x: hidden;
  }
}

.reviews__item {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 300px;
  padding: 34px 20px;
  padding-bottom: 50px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgb(#000000, 0.08);

  @media (min-width: 1440px) {
    width: 259px;
    margin-bottom: 16px;
    padding: 30px 22px 30px;
    border-radius: 8px;
  }
}

.reviews__date {
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 130%;
  color: #868686;

  @media (min-width: 1440px) {
    margin-bottom: 16px;
  }
}

.reviews__gamers {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #383838;
}

.reviews__raiting {
  width: 120px;
  height: 12px;
  margin-bottom: 19px;
  background-image: url("/img/star.svg");

  &--1 {
    width: 20px;
  }

  &--2 {
    width: 40px;
  }

  &--3 {
    width: 60px;
  }

  &--4 {
    width: 80px;
  }

  &--5 {
    width: 100px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 35px;
  }
}

.reviews__event {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #383838;

  @media (min-width: 1440px) {
    margin-bottom: 12px;
    font-size: 16px;
  }
}

.reviews__text {
  padding-right: 20px;
  font-size: 16px;
  line-height: 130%;
  color: #5e5e5e;

  @media (min-width: 1440px) {
    padding-right: 0;
    font-size: 14px;
  }
}

.reviews__scroll {
  display: none;

  @media (min-width: 1440px) {
    display: block;
    width: 773px;
    height: 15px;
    background-color: #f5f5f5;
  }
}

.reviews__slider-controls {
  display: flex;
  width: 92px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  gap: 6px;

  @media (min-width: 1440px) {
    display: none;
  }
}

.reviews__slide {
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgba(#1c1c1c, 0.2);
  border-radius: 50%;
  appearance: none;

  &--active {
    width: 16px;
    background-color: #d9d9d9;
    border-radius: 10px;
  }
}

.reviews__btn-all {
  margin-bottom: 24px;
  padding: 16px 32px;

  @media (min-width: 1440px) {
    width: 437px;
    margin-top: 24px;
    margin-left: 170px;
  }
}
