html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  overflow-anchor: none;
}

body {
  min-width: 360px;
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration-skip-ink: none;
  color: inherit;
}

picture,
source {
  display: contents;
}

.button {
  display: block;
  box-sizing: border-box;
  width: 334px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #f77833;
  border: none;
  border-radius: 7px;
}
